<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>{% block title %} {{SITENAME}} {% endblock %}</title>

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="{{SITENAME}}" href="{{ SITEURL }}/feeds/all.rss.xml">
  </head>
  <body class="home blog custom-font-enabled single-author">
    <div id="page" class="hfeed site">
        {% block header %}
            {% include "header.html" %}
        {% endblock %}
        
        <div class=body>
        {% block content %} {% endblock %}
        </div>
        
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
    </div>
    {% include 'googleanalytics.html' %}
    {% include 'piwik.html' %}
  </body>
</html>

