<footer id="colophon" role="contentinfo">
  <p>&copy; Copyright <script language="JavaScript">var date = new Date(); document.write(date.getFullYear());</script> by 
    <script language="JavaScript">
          u = '{{ MAIL_USERNAME }}';
          s = '{{ MAIL_HOST }}';
          document.write('<a href=\"mailto:' + u + '@' + s + '\" target=\"_blank\">');
    </script>
    {{ AUTHOR }}</a></p>
  <p > Powered by <a href="http://docs.getpelican.com/en/latest/getting_started.html" target="_blank">Pelican</a>.  
    <a href="https://github.com/xr09/twentytwelve">Theme</a> ported from <a href="http://wordpress.org/themes/twentytwelve">Wordpress</a> by <a href="http://xr09.github.io">xr09</a>
  </p> 
</footer>
